<div class="main-visual">
  <div class="text-white">
    <p>
      アートワークのデザイナーやカメラマンを探している方
    </p>
    <p class="h4">
      <strong>つのりて</strong>
    </p>
    <p class="h2"><i class="fas fa-times"></i></p>
    <p>
      デザインやカメラマンを探している方
    </p>
    <p class="h4">
      <strong>つくりて</strong>
    </p>
    <p>マッチングサイト</p>
    <p class="h3"><strong>わかば</strong></p>
  </div>
</div>
<div class="main">

</div>