<div>
  <% if @artwork.artwork_image.attached? %>
   <%= image_tag @artwork.artwork_image %>
  <% else %>
   <%= image_tag 'no_image.jpg' %>
  <% end %>
</div>

<table class="table">

  <tbody>
    <tr>
      <th>投稿</th>
      <td><%= l @artwork.created_at %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>詳細</th>
      <td><%= @artwork.description %></td>
    </tr>
  </tbody>
</table>
