 <h3>募集中の依頼一覧</h3>
   <table>
     <% @recruitments.each do |recruitment| %>
     <tr>
        <td>
         <%= link_to recruit_user_recruitment_path(recruitment) do %>
          <%= recruitment.title %>
         <% end %>
        </td>
  
        <td>
          <%= link_to recruit_user_musician_path(recruitment.musician_id) do %>
           <%= recruitment.musician.nickname %>
          <% end %>
        </td>
  
     </tr>
     <% end %>
   </table>