// Place all the styles related to the recruit_user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.musician_main-visual {
  width: 100%;
  height: 500px;
  background-image: image-url('musician_top3.jpg');
  background-size: cover;
  background-position: bottom;
}
