<div class="container-fluid mt-5 pt-5 mx-0 p-0">
  <div class=" row d-flex justify-content-center">
    <%= form_with model: @artwork, url: artwork_path(@artwork), local:true do |f| %>
      <table class="table table-borderless text-secondary p-0">
        <tbody>
          <tr>
            <td><%= f.file_field :artwork_image %></td>
          </tr>

          <tr>
            <td><%= f.text_area :description, size: "30x10" %></td>
          </tr>
        </tbody>
      </table>

      <div class="row d-flex justify-content-center ml-5 pl-5">
        <%= f.submit '更新', class: "btn btn-outline-secondary col-3" %>
      </div>
    <% end %>
  </div>
  <div class="container p-5"></div>
</div>